.mcHero {
	height: 350px;
	background-color: #48d1cc;
}

.mcBanner {
    text-align: center;
    font-size: 45px;
	font-weight: 600; 
    color: white;
    width : 100%;
    margin-top:40px;
}

.mcDescBox {
	background-color : white;
	color : #37517e;
	font: 15px bold;
	margin-top: 25px;
	margin-bottom: -20px;
	padding : 35px;
	text-align: left;
	border-radius: 20px;
}



.comment_count {
	color: brown;
	font-weight: 600;
	font-size: 14px;
}




#editPost, #deletePost {
	padding: 10px 20px;
    background-color: #48d1cc;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    margin-top:20px;
    margin-left:5px;
}

#prevPost, #nextPost, #gotoList, #cancel, #editFinish {
	padding: 10px 20px;
    background-color: #48d1cc;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    margin-top:20px;
    margin-left:5px;
    float: right;
}

#editPost:hover, #deletePost:hover, #prevPost:hover, #nextPost:hover, #gotoList:hover, #cancel:hover, #editFinis:hover {
    background-color: #37517e;
}

.mcBoardDetail {
	background-color : #fff;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	padding : 10px;
	padding:18px 25px 25px 25px;
}

.mcBoardDetail table {
	width: 100%;
    border-collapse: collapse;
}

.mcBoardDetail table thead {
	color: #37517e;
	font-size: 18px;
	font-weight: 600;
	border-bottom: 1px solid #ddd;
	height: 50px;
}

.mcBoardDetail table th, .mcBoardDetail table td {
    padding: 6px;
    border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	height: 50px;
}


.mcBoardDetail table tr:nth-child(odd) {
  background-color: #f3f5fa;
}

.mcBoardDetail table th {
	color: #37517e;
	font-size: 16px;
	font-weight: 600;
	border-right: 1px solid #dddddd;
    text-align: center;
    width:25%;
}

.mcBoardDetail table td {
    text-align: left;
    padding-left: 30px;
}

#matchingComment {
	width: 100%;
	border: 1px solid #ccc;
	margin-top: 10px;
	margin-bottom: 5px;
}